<section class="categoriesSection">
  <div class="categoriesContainer">

    <ul class="categoriesList">
      <li class="categoryCard">
        <img
          src="./images/categories/muscles-arms.jpg"
          alt="Arms muscles"
          class="categoryImage"
        />
        <div class="categoryOverlay">
          <h3 class="categoryTitle">Arms</h3>
          <p class="categoryType">Muscles</p>
        </div>
      </li>

      <li class="categoryCard">
        <img
          src="./images/categories/muscles-legs.jpg"
          alt="Legs muscles"
          class="categoryImage"
        />
        <div class="categoryOverlay">
          <h3 class="categoryTitle">Legs</h3>
          <p class="categoryType">Muscles</p>
        </div>
      </li>

      <li class="categoryCard">
        <img
          src="./images/categories/muscles-back.jpg"
          alt="Back muscles"
          class="categoryImage"
        />
        <div class="categoryOverlay">
          <h3 class="categoryTitle">Back</h3>
          <p class="categoryType">Muscles</p>
        </div>
      </li>
    </ul>

  </div>
</section>
