<section class="filtersSection">
  <div class="filtersContainer">
    <h2 class="filtersTitle">Filters</h2>

    <ul class="filtersTabs">
      <li>
        <button class="filterBtn isActive" data-filter="Muscles">
          Muscles
        </button>
      </li>
      <li>
        <button class="filterBtn" data-filter="Body parts">
          Body parts
        </button>
      </li>
      <li>
        <button class="filterBtn" data-filter="Equipment">
          Equipment
        </button>
      </li>
    </ul>
  </div>
</section>
