.home__content {
  padding: var(--spacing-3xl) var(--spacing-xl);
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F4F4F4;
}

.home__main {
  display: flex;
  justify-content: space-between;
}

.home__title {
  width: 600px;
  font-size: 72px;
  font-weight: 400;
  color: var(--color-dark);
  margin-block: 0;

  @media (max-width: 768px) {
  .home__main {
    flex-direction: column;
    gap: var(--spacing-lg);
  }
  }

  &-italic {
    font-style: italic;
  }
}

.home__description {
  font-size: 18px;
  color: var(--color-dark);
  max-width: 550px;
}

.home__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__image-small {
  img {
    width: 100px;
    height: 134px;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
  }
}

.home__hashtags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);

  &-item {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 16px;
    font-size: 16px;
    color: var(--color-dark);
    text-align: center;
    border: 1px solid var(--color-dark);
    
    // 3-й элемент - сдвигаем целиком вправо
    &:nth-child(3) {
      transform: translateX(10px); // или 15px, 25px, 30px
    }
    
    // 4-й элемент - делаем уже и прижимаем вправо
    &:nth-child(4) {
      width: 90%;
      margin-left: auto;
    }
  }
}

.home__hero {
  margin-top: var(--spacing-xl);

  img {
    width: 100%;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 50% 30%;

  }
}
